
.text-section {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

@media (max-width: 700px) {
  .text-section {
    line-height: 1.6;
    margin: 15px;
    padding: 15px;
  }
}
